* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}li {
    list-style: none;
}

a {
    text-decoration: none;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
}
.nav-menu {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.15rem;
    font-weight: 400;
    color: #fff;
    padding: 0 0 10px 10px;
}

.nav-link:hover{
    color: goldenrod;
}
@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: black;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

.title h1::after{
    content: "";
    width: 70px;
    height: 1px;
    display:inline-block ;
    background: gold;
}
.title h1::before{
    content:"";
    width: 70px;
    height: 1px;
    display: inline-block;
    background: gold;
}
.title h1{
    font-family: "Poppins", sans-serif;
    color: #aaaaaa;
    text-transform: uppercase;
}
@media screen and (min-width) {
    .title h1{
        font-size: 2rem;
    }
}
@media  screen and (max-width:700px) {
    .title h1{
        font-size: 1.25rem;
    }
}
.font-italic{
    font-style: italic !important;
}
ul{
    list-style-type: none;
    margin-bottom: 1em;
}
li{
    padding-bottom: 10px;
}
i{
    color: gold;
    font-size: 20px;
    padding-right: 2px;
}
.sub-title h2{
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #aaaaaa;
}
.sub-title h2::after{
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background:gold;
}
.progress{
    margin-bottom: 2.2em;
}
.interests .box{
    display: flex;
    align-items: center;
    padding: 20px;
}
.interests .box i{
    font-size: 30px;
    padding-right: 10px;
    line-height: 1;
}
.interests .box h3{
    font-size: 16px;
    color: #fff;
}
.card-text{
    font-size: 14px;
    line-height: 24px;
}
  .item{
      transition: 0.5s ease-in-out;
  }
  .item:hover{
      filter: brightness(80%);
  }
  .form-control{
      background-color: transparent;
      color: #fff;
  }
  .form-control:focus{
      background-color:black;
      color: #fff;
  }
  .form-group input[type="text"]:focus,
  .form-group input[type="email"]:focus,
  .form-group input[type="tel"]:focus{
      border: 2px solid goldenrod;
      box-shadow: none;
  }
  .form-group textarea:focus{
      border: 2px solid goldenrod;
      box-shadow: none;
  }
  .form-group button:focus{
      outline: none;
      box-shadow: none;
  }
 

